In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import os

In [4]:
cwd = os.getcwd()

In [5]:
cwd

'/Users/shantanupatil/Untitled Folder'

In [10]:
os.chdir('/Users/shantanupatil/Desktop/Dataset/ncert-excel/enrollment/enrollment_flash_stats_total/')

In [11]:
os.listdir('.')

['FS3__Rural.pdf',
 'FS3__Rural.xlsx',
 'FS48__Total.pdf',
 'FS48__Total.xlsx',
 'FS51_Primary_Total.pdf',
 'FS51_Primary_Total.xlsx',
 'FS54_Upper_Primary_Total.pdf',
 'FS54_Upper_Primary_Total.xlsx',
 'FS57_Secondary_Total.pdf',
 'FS57_Secondary_Total.xlsx',
 'FS60.pdf',
 'FS60.xlsx',
 'FS61__Rural.pdf',
 'FS61__Rural.xlsx',
 'FS64__Total.pdf',
 'FS64__Total.xlsx']

In [13]:
file = 'FS3__Rural.xlsx'

In [14]:
xl = pd.ExcelFile(file)

In [17]:
print(xl.sheet_names)

['page 1']

In [18]:
df = xl.parse('page 1')

In [20]:
df

,1,2,3,4,5,6,7,8,9,10,11
0,1\n\n\n2,Andaman Nicobar\nIslands\n\nAndhra Pradesh,"1\n\n\n7,985","3\n\n\n2,496",200.00\n\n\n-68.74,"48\n\n\n840,781","43\n\n\n188,809",-10.42\n\n\n-77.54,"0\n\n\n179,589","0\n\n\n36,075",0.00\n\n\n-79.91
1,3,Arunachal Pradesh,0,67,0.00,"1,328","6,349",378.09,222,"2,384",973.87
2,4,Assam,"9,130","5,863",-35.78,"471,968","359,015",-23.93,"230,868","135,071",-41.49
3,5,Bihar,"2,461","4,487",82.32,"503,919","241,762",-52.02,"179,777","110,884",-38.32
4,6,Chandigarh,105,37,-64.76,"19,994","3,665",-81.67,"6,182",813,-86.85
5,7,Chhattisgarh,131,608,364.12,"6,491","8,496",30.89,46,"2,653",5667.39
6,8,Dadra Nagar Haveli,1,0,-100.00,110,0,-100.00,0,0,0.00
7,9,Daman Diu,0,0,0.00,0,60,0.00,0,75,0.00
8,10,Delhi,44,201,356.82,"16,067","6,933",-56.85,"1,034",850,-17.79
9,11,Goa,2,5,150.00,11,150,1263.64,0,38,0.00